  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <%= simple_form_for(event) do |f| %>
          <%= f.input :date %>
          <%= f.input :activity, collection: %w@Football Art\ Group Cafe@ %>
          <%= f.input :capacity %>
          <%= f.input :venue_id, collection: @venue_options %>
          <%= f.submit %>
        <% end %>
    </div>
  </div>
</div>
