<h1>Event</h1>
<div>
  <%= @event.venue.name %>
  <br>
  <%= @event.date %>

</div>

<% if @event.event_users.find_by(user_id: current_user.id).present?  %>
  <p>Your are attending this event!</p>
<% else %>
  <%= render partial: 'event_users/form', locals: { event_user: EventUser.new, event: @event } %>
<% end %>
<br>
<%= link_to "Report", report_path(@event, format: "csv") if current_user.admin   %>
<br>
<%= link_to "edit this event",  edit_event_path(@event) if current_user.admin %>
<br>
<%= link_to "view the venue", venue_path(@event.venue) if current_user.admin %>
