<div class ="container">

  <div>
    <div class = "venue">
      <%= @event.activity %>
      <br>
      <%= @event.venue.name %>
    </div>

    <div class = "time-address">
      <div class= "address">
        <%= @event.venue.address_line_one %>
        <br>
        <%= @event.venue.address_line_two %>
        <br>
        <%= @event.venue.postcode %>
      </div>
        <div class = "date">
          <div>
            <%= @event.date.strftime("%A %d %B %y") %>
          </div>
          <div>
            Start: <%= @event.date.strftime("%R") %>
          </div>
        </div>
      </div>

    <div class = "show-image">
      <%= image_tag "marketroad.jpg" %>
    </div>
  </div>
  <% if @event.past? %>
    <div class = "text">This event has passed</div>
  <% else %>
    <% if @event_user  %>
      <div class="attendance-cont">
        <div class = "text">You are attending this event</div>
        <div class = "confirmed-button"> <%= link_to "Cancel Attendance",
                      event_user_path(@event_user),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></div>
      </div>
    <% elsif @event.full? %>
     <p>We're sorry but this event is fully booked</p>
    <% elsif current_user %>
      <div class="button-wrapper">
        <%= render partial: 'event_users/form', locals: { event_user: EventUser.new, event: @event } %>
      </div>
      <% else %>
      <%= link_to "Login to attend an event", new_user_session_path  %>
    <% end %>
  <% end %>
  <% if current_user && current_user.admin %>
  <div class = "admin-container">
    <div class="link-admin"> <%= link_to "Report", report_path(@event, format: "csv")  %></div>
    <div class="link-admin"><%= link_to "Edit this event",  edit_event_path(@event)  %></div>
    <div class="link-admin"><%= link_to "View the venue", venue_path(@event.venue)  %></div>
    <div class="link-admin"><%= link_to "Register", event_pages_register_path(@event)  %></div>
  </div>
  <% end %>

</div>


