<div class ="venue-show-container">

<div class = "title">
  <h1>Venue Info</h1>
</div>

<div class = "venue-info">
  <p>
    <%= @venue.name %>
      <%= @venue.address_line_one %><br>
      <%= @venue.address_line_two %><br>
      <%= @venue.town %><br>
      <%= @venue.county %><br>
      <%= @venue.postcode %><br>
  </p>

  <%= link_to "Edit this venue",  edit_venue_path(@venue) if current_user.admin %>
  <br>
  <%= link_to "Delete this venue",
            venue_path(@venue),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

</div>

</div>
