<h1>Venues show</h1>

<p>
  <%= @venue.name %>
    <%= @venue.address_line_one %><br>
    <%= @venue.address_line_two %><br>
    <%= @venue.town %><br>
    <%= @venue.county %><br>
    <%= @venue.postcode %><br>
</p>

<%= link_to "edit this venue",  edit_venue_path(@venue) if current_user.admin %>
